#nav {
    display: block;
}

#nav_left {
    display: inline-block;
}

#nav_right {
    float: right;
}

nav a {
    color: #000;
    opacity: 0.75;
    text-decoration: none;
    padding: 0px 5px 0px 5px;
}


#logo {
    text-align: center;
    padding-top: 200px;

}

#search_bar {
    text-align: center;
    margin-top: 15px;
}

#buttons {
    text-align: center;
    margin-top: 10px;
}


.footer {
    display:block;
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: rgba(224, 215, 215, 0.904)
}

#footer_left {
    display: inline-block;
}
#footer_left a {
    color: #000;
    text-decoration: none;
    padding: 0px 5px 0px 5px;
}

#footer_right {
    float: right;
}

#footer_right a {
    color: #000;
    text-decoration: none;
    padding: 0px 5px 0px 5px;
}